*{
    font-size: Verdana;
    padding: 0;
    margin: 0;

}


.card {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100vh;
    }

.titulo{
    justify-content: center;
    text-align: center;
}

.titulo > h1{
    font-size: 30px;
}

.titulo > h2{
    margin-top: 20px;
    font-size: 15px;
}

.navbar{
    text-align: center;
    gap: 970px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #191d4d;
    display: flex;
}

.navbar > h1{
    color: white;
}

.foto{
    border-radius: 50px;
}
